build/
*.so
__pycache__/
*.egg-info/
*.egg
eggs/
.eggs/

.ipynb_checkpoints/

log
logs
ckpt
ckpts
output
outputs
result
results
data
datas

CUsersusershosvraster_dockermodify_svrasteroutput
/output/